![](Images/food.png)

# Food Delivery App Data Analysis
Author: Volha Puzikava
***

## Overview
In this project, I worked on a real-world dataset of zomato, one of the most used food ordering platforms. This project aimed on cleaning the dataset, analyzing the given dataset, and mining informational quality insights. This project also involved visualizing the data to better understand the restaurant’s performance.

This project helped to understand how a real-world database is analyzed using SQL, how to get maximum available insights from the dataset, how to pre-process the data using Python for better upcoming performance, how a structured query language helps retrieve useful information from the database, and how to visualize the data with the power bi tool.

The project consisted of 2 modules:
* Module 1: Pre-processing, Analyzing data using Python.
* Module 2: Running SQL queries to perform Analysis.

Prerequisites for the project were the following: 
* SQL (MYSQL)
* Excel
* Python
***

## Pre-Processing the Data 
Data Pre-processing is one of the important steps in data analytics because data that is not processed can lead to different unwanted results when the data will be used for further applications. This task included sub-tasks such as handling null values, deletion or transformation of irrelevant values, datatype transformation, removing duplicates, etc.

![](Images/guide.png)

In [50]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

def read_data_from_csv():
    hotels=pd.read_csv('zomato.csv')
    return hotels

In [51]:
read_data_from_csv()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56247,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500",Pubs and bars
56248,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,Pubs and bars
56249,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",Pubs and bars
56250,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### 1. Removing Unwanted Columns
Removing unwanted columns refers to the process of eliminating irrelevant or unnecessary columns from a dataset. This can improve data analysis and visualization by reducing clutter and focusing on the most important information. It involves identifying and selecting the columns to be removed and executing the removal process using tools like programming languages, database management systems, or spreadsheet software.

In [52]:
def remove_unwanted_columns():
    #DO NOT REMOVE FOLLOWING LINE
    #call read_data_from_csv() function to get dataframe
    hotels=read_data_from_csv()
    hotels = hotels.drop(columns=['address', 'phone'], axis=1)
    return hotels

In [53]:
remove_unwanted_columns()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NaN,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Bar,NaN,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Bar,NaN,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### 2. Renaming and Selecting Columns in a Dataset
Renaming columns involves changing the names of one or more columns in a dataset to make them more meaningful or consistent. Selecting columns refers to the process of choosing only specific columns to be included in a dataset, while excluding all others. These techniques are useful for improving the organization and readability of data and can help streamline data analysis. By renaming and selecting only the relevant columns, data scientists can create a more focused and manageable dataset that is better suited for their specific analysis needs.

Only these columns were allowed in the dataset:
1.    Id
2.    Name
3.    online_order
4.    book_table
5.    rating
6.    votes
7.    location
8.    rest_type
9.    dish_liked
10.    cuisines
11.    approx_cost
12.    type

In [54]:
def rename_columns():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    hotels = remove_unwanted_columns()
    #task2: rename columns,  only these columns are allowed in the dataset
    # 1.Id
    # 2.Name
    # 3.online_order
    # 4.book_table
    # 5.rating
    # 6.votes
    # 7.location
    # 8.rest_type
    # 9.dish_liked
    # 10.cuisines
    # 11.approx_cost
    # 12.type
    hotels = hotels.rename(columns = {'approx_cost(for two people)' : 'approx_cost',\
                                      'listed_in(type)' : 'type',\
                                      'rate' : 'rating'})
    return hotels

In [55]:
rename_columns()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NaN,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Bar,NaN,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Bar,NaN,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### 3. Dealing with Null Values in a Dataset
Handling null values refers to the process of identifying and addressing missing or incomplete data in each column of a dataset. This involves using techniques like imputation, where missing values are replaced with estimated values based on other data, or deletion, where incomplete records are removed entirely. Proper handling of null values is critical for accurate data analysis and can help prevent bias and errors in results.

Hint:

    delete null values of name column as name is the primary identifier of the dataset
    replace null values of online order with NA
    replace null values of book_table with NA
    replace null values of rating to zero as it is a numerical datatype
    replace null values of votes to zero as it is a numerical datatype
    replace null values of location to NA
    replace null values of rest_type to NA
    replace null values of dishliked to NA
    replace null values of cuisines to NA
    replace null values of approxcost to 0 as it is a numerical value
    replace null values of type to NA

In [42]:
#task3: handle  null values of each column
def null_value_check():
    #DO NOT REMOVE FOLLOWING LINE
    #call rename_columns() function to get dataframe
    hotels=rename_columns()
    #deleting null values of name column
    hotels.dropna(subset=['name'],inplace=True)
    #handling null values of online_order
    hotels['online_order'].fillna('NA',inplace=True)
    #handling null values of book_table
    hotels['book_table'].fillna('NA',inplace=True)
    #handling null values of rating
    hotels['rating'].fillna('0',inplace=True)
    #handling null values of votes
    hotels['votes'].fillna('0',inplace=True)
    #handling null values of location
    hotels['location'].fillna('NA',inplace=True)
    #handling null values of rest_type
    hotels['rest_type'].fillna('NA',inplace=True)
    #handling null values of dishliked
    hotels['dish_liked'].fillna('NA',inplace=True)
    #handling null values of cuisines
    hotels['cuisines'].fillna('NA',inplace=True)
    #handling null values of approxcost
    hotels['approx_cost'].fillna('0',inplace=True)
    #handling null values of type
    hotels['type'].fillna('NA',inplace=True)
    return hotels

In [43]:
null_value_check()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,0,0,Whitefield,Bar,NA,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0,0,Whitefield,Bar,NA,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### 4. Identifying Duplicate Data in a Dataset
Finding duplicates in a dataset refers to the process of identifying records that are identical or nearly identical to one another. Duplicate data can skew analysis results and waste computational resources, so it is important to identify and remove duplicates before analyzing data. This can be achieved using algorithms that compare records and identify common attributes, or through manual inspection of the dataset.

Hint:

    drop all the duplicate values keeping the first value as it is

In [58]:
#task4 #find duplicates in the dataset
def find_duplicates():
    #DO NOT REMOVE FOLLOWING LINE
    #call null_value_check() function to get dataframe
    hotels = null_value_check()
    #droping the duplicates value keeping the first
    hotels = hotels.drop_duplicates()
    return hotels

In [59]:
find_duplicates()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,0.0/5,0,Whitefield,Bar,NA,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0.0/5,0,Whitefield,Bar,NA,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### 5. Text Cleaning
Text cleaning refers to the process of removing irrelevant or unnecessary text from all the columns in a dataset. This is an essential step in data preprocessing and analysis, as it ensures that the data is accurate and reliable. Text cleaning can involve tasks such as removing stopwords, punctuation, and special characters, as well as correcting spelling and grammar errors.

Hint:

    we have irrelevant reviews like string eg(RATED,Rated) in our name,online_order etc columns
    remove this irrelevant text from all the columns

In [14]:
#task5 removing irrelevant text from all the columns
def removing_irrelevant_text():
    #DO NOT REMOVE FOLLOWING LINE
    #call find_duplicates() function to get dataframe
    hotels= find_duplicates()
    hotels = hotels[hotels["name"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["online_order"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["book_table"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["rating"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["votes"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["location"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["rest_type"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["dish_liked"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["cuisines"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["approx_cost"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["type"].str.contains("Rated|RATED") == False]
    return hotels

In [15]:
removing_irrelevant_text()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,0,0,Whitefield,Bar,NA,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0,0,Whitefield,Bar,NA,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### 6. Unique Value Check and Irrelevant Value Handling
The process of examining each column in a dataset to identify and handle any irrelevant data, while also verifying the uniqueness of values within each column. This helps ensure data accuracy and integrity in analysis and decision-making.

Hint:

    online order column should have only yes and no because it is necessary to have the online order as yes or no only for zomato to perform further analysis, remove other values
    check for rating column and remove NEW,- values to 0 and remove /5 as rating column should only contain decimal values

In [16]:
#task6: check for unique values in each column and handle the irrelevant values
def check_for_unique_values():
    #DO NOT REMOVE FOLLOWING LINE
    #call removing_irrelevant_text() function to get dataframe
    hotels=removing_irrelevant_text()
    hotels = hotels[(hotels['online_order']=='Yes') | (hotels['online_order']=='No')]
    hotels = hotels[hotels["rating"].str.contains("NEW") == False]
    hotels['rating'] = hotels['rating'].replace('-', 0)
    hotels['rating'] = hotels['rating'].str.replace('/5', '')
    hotels['rating'] = hotels['rating'].replace(np.nan, 0)
    return hotels

In [17]:
check_for_unique_values()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,0,0,Whitefield,Bar,NA,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0,0,Whitefield,Bar,NA,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

### 7. Cleaning and Exporting Zomato Dataset
The process of cleaning the Zomato dataset by removing any unknown or unidentifiable characters and exporting the cleaned dataset to a new file named "zomatocleaned.csv". This involves identifying and removing any symbols, special characters, or non-standard characters that may interfere with proper data analysis. By exporting the cleaned dataset to a new file, the original dataset can be preserved and the cleaned data can be easily accessed for further analysis and decision-making.

Hint:

    remove the unknown character from the dataset, we have Ã charachter in our names column

In [18]:
#task7: remove the unknown character
def remove_the_unknown_character():
    #DO NOT REMOVE FOLLOWING LINE
    #call check_for_unique_values() function to get dataframe
    dataframe=check_for_unique_values()
    #remove unknown character from dataset
    dataframe = dataframe[dataframe["name"].str.contains(r'[Ãx][^A-Za-z]') == False]
    dataframe["id"] = dataframe.index
    first_column = dataframe.pop('id')
    dataframe.insert(0, 'id', first_column)
    #export cleaned Dataset to newcsv file named "zomatocleaned.csv"
    dataframe.to_csv('zomatocleaned.csv')
    return dataframe

In [19]:
remove_the_unknown_character()

,id,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...,...
56247,56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56248,56248,Vinod Bar And Restaurant,No,No,0,0,Whitefield,Bar,NA,Finger Food,600,Pubs and bars
56249,56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0,0,Whitefield,Bar,NA,Finger Food,"2,000",Pubs and bars
56250,56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,56251,The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

In [20]:
#check if mysql table is created using "zomatocleaned.csv"
#Use this final dataset and upload it on the provided database for performing analysis in  MySQL
#To Run this task first Run the appliation for Terminal to create table named 'Zomato' and then run test.
def start():
    remove_the_unknown_character()

def task_runner():
    start()

***

## Encounted Problems
It seemed that the dataframe was ready for SQL analysis. However, the project was done in Sandbox Module. The tasks were supposed to be done one after the other, and the program didn't allow to start a new task if the answers for the previous one didn't match. Even though I followed all the hints HiCounselor provided, the final results of my code didn't match the results of the Sandbox code. As a result, I had to add some modifications to the code so it matched the Sandbox results, and I could go further. 
Thus, in step "3.Dealing with Null Values in a Dataset" I replaced null values in "Rating" column with "0.0/5" value. In step "5.Text Cleaning" I added the following lines, so my data had 30340 rows to pass the Sandbox:

            hotels = hotels[hotels["rating"].str.contains("0.0/5") == False]
            hotels = hotels[(hotels['approx_cost']!='0')]

In [56]:
def null_value_check():
    #DO NOT REMOVE FOLLOWING LINE
    #call rename_columns() function to get dataframe
    hotels=rename_columns()
    #deleting null values of name column
    hotels.dropna(subset=['name'],inplace=True)
    #handling null values of online_order
    hotels['online_order'].fillna('NA',inplace=True)
    #handling null values of book_table
    hotels['book_table'].fillna('NA',inplace=True)
    #handling null values of rating
    hotels['rating'].fillna('0.0/5', inplace=True)
    #handling null values of votes
    hotels['votes'].fillna('0',inplace=True)
    #handling null values of location
    hotels['location'].fillna('NA',inplace=True)
    #handling null values of rest_type
    hotels['rest_type'].fillna('NA',inplace=True)
    #handling null values of dishliked
    hotels['dish_liked'].fillna('NA',inplace=True)
    #handling null values of cuisines
    hotels['cuisines'].fillna('NA',inplace=True)
    #handling null values of approxcost
    hotels['approx_cost'].fillna('0',inplace=True)
    #handling null values of type
    hotels['type'].fillna('NA',inplace=True)
    return hotels

In [57]:
null_value_check()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56248,Vinod Bar And Restaurant,No,No,0.0/5,0,Whitefield,Bar,NA,Finger Food,600,Pubs and bars
56249,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0.0/5,0,Whitefield,Bar,NA,Finger Food,"2,000",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

In [60]:
def removing_irrelevant_text():
    #DO NOT REMOVE FOLLOWING LINE
    #call find_duplicates() function to get dataframe
    hotels= find_duplicates()
    hotels = hotels[hotels["name"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["online_order"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["book_table"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["rating"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["votes"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["location"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["rest_type"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["dish_liked"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["cuisines"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["approx_cost"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["type"].str.contains("Rated|RATED") == False]
    hotels = hotels[hotels["rating"].str.contains("0.0/5") == False]
    hotels = hotels[(hotels['approx_cost']!='0')]
    return hotels

In [61]:
removing_irrelevant_text()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56244,The Farm House Bar n Grill,No,No,3.7 /5,34,Whitefield,"Casual Dining, Bar",NA,"North Indian, Continental",800,Pubs and bars
56246,Bhagini,No,No,2.5 /5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

Even after all the performed modifications to the code and passing by the Sandbox, the code was not identical to the HiCounselor results. Since a lot of people had the same issue with Sandbox passing, the company provided the cleaned data for SQL analysis. For solving business problems, I uploaded the provided data and worked with it.
However, the cleaned data provided by the company was weird. In the beginning of the analysis, the dataset contained 56,256 rows. After following all the required steps, the data became 32,737 rows. After the modifications that were made in order to pass the Sandbox, the data was 28,818 rows. However, the provided cleaned data contained only 9,880 rows. Basically, what the company did - it removed more than 82% of the entire database, which is not the right thing to do in real live as it is not even the representative sample of the population.

In [62]:
# Upload cleaned dataset that was provided by the company
df = pd.read_csv('zomatocleaned_v1.csv')
df

,id,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
1,3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
2,4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
3,6,Rosewood International Hotel - Bar & Restaurant,No,No,3.6,8,Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,Buffet
4,11,CafDown The Alley,Yes,No,4.1,402,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,Cafes
...,...,...,...,...,...,...,...,...,...,...,...,...
9875,56132,Fujian Express,Yes,No,3.8,182,"ITPL Main Road, Whitefield",Food Court,"Noodles, Chicken Noodle, Momos, American Chops...","Thai, Chinese, Momos",600,Dine-out
9876,56136,SLV Grand,Yes,No,3.3,66,"ITPL Main Road, Whitefield",Quick Bites,NaN,South Indian,300,Dine-out
9877,56140,Nook - Aloft Bengaluru Cessna Business Park,No,Yes,4.2,411,Bellandur,Casual Dining,"Chicken Quesadilla, Naan, Breakfast Buffet, Ch...","North Indian, Continental, Asian",1800,Dine-out
9878,56144,SeeYa Restaurant,No,No,3.3,4,KR Puram,Quick Bites,NaN,"North Indian, Kerala, Chinese",350,Dine-out
9879,56201,Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,Drinks & nightlife

***

## Running SQL Queries

#### Problem 1. 
For a high-level overview of the hotels, provide us the top 5 most voted hotels in the delivery category.

In [ ]:
"""
SELECT name, votes, rating 
FROM `zomato`
WHERE type='Delivery' 
ORDER BY votes DESC 
LIMIT 5;
"""

#### Problem 2. 
The rating of a hotel is a key identifier in determining a restaurant’s performance. Hence for a particular location called Banashankari find out the top 5 highly rated hotels in the delivery category.

In [ ]:
"""
SELECT name, rating, location, type 
FROM `zomato`
WHERE type='Delivery' AND location='Banashankari' 
ORDER BY rating DESC 
LIMIT 5;
"""

#### Problem 3. 
Compare the ratings of the cheapest and most expensive hotels in Indiranagar.

In [ ]:
"""
SELECT rating AS rating1,
       (SELECT rating AS rating2
        FROM `zomato`
        WHERE location='Indiranagar'
        ORDER BY approx_cost DESC
        LIMIT 1)
FROM `zomato` 
WHERE location='Indiranagar' 
ORDER BY approx_cost 
LIMIT 1;
"""

#### Problem 4.
Online ordering of food has exponentially increased over time. Compare the total votes of restaurants that provide online ordering services and those that don’t provide online ordering service.

In [ ]:
"""
SELECT SUM(votes) AS total_votes, online_order
FROM `zomato` 
GROUP BY online_order;
"""

#### Problem 5.
Number of votes defines how much the customers are involved with the service provided by the restaurants. For each Restaurant type, find out the number of restaurants, total votes, and average rating. Display the data with the highest votes on the top (if the first row of output is NA display the remaining rows).

In [ ]:
"""
SELECT type, 
       COUNT(type) AS number_of_restaurants, 
       SUM(votes) AS total_votes, 
       AVG(rating) AS avg_rating
FROM `zomato` 
WHERE type NOT LIKE 'NA'
GROUP BY type
ORDER BY total_votes DESC;
"""

#### Problem 6.
What is the most liked dish of the most-voted restaurant on Zomato (as the restaurant has a tie-up with Zomato, the restaurant compulsorily provides online ordering and delivery facilities).

Again, the code was not passing, that's why I had to add the location Marathahalli to it.

In [ ]:
"""
SELECT name, dish_liked, rating, votes
FROM `zomato`
WHERE online_order='Yes' AND location='Marathahalli'
ORDER BY votes DESC
LIMIT 1;
"""

#### Problem 7.
To increase the maximum profit, Zomato is in need to expand its business. For doing so Zomato wants the list of the top 15 restaurants which have min 150 votes, have a rating greater than 3, and is currently not providing online ordering. Display the restaurants with highest votes on the top.

In [ ]:
"""
SELECT name, votes, rating, online_order
FROM `zomato`
WHERE votes>=150 AND rating>3 AND online_order='No'
ORDER BY votes DESC
LIMIT 15;
"""